.payment {
    width: 40%;
    height: 80%;
    background-color: white;
    margin-top: 3.5rem;
    border-radius: 50px;
}

.price {
    width: 40%;
    height: 40%;
    font-size: large;
    margin-top: 2rem;
}