.container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
}

div{
    display:flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 50px;
    border: 1px solid;
    width: max-content;
    
}